# https://www.pomerium.io/configuration/#cookie-secret
# head -c32 /dev/urandom | base64
cookie-secret=CHANGEME

# https://www.pomerium.io/configuration/#shared-secret
# head -c32 /dev/urandom | base64
shared-secret=CHANGEME

# https://www.pomerium.io/configuration/#identity-provider-client-secret
idp-client-id=CHANGEME

# https://www.pomerium.io/configuration/#identity-provider-client-secret
idp-client-secret=CHANGEME
